
.transaction-history {
  width: 1110px;
  margin: 45px auto 0 auto;
  padding: 36px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 0 40px 0 rgb(30 55 90 / 10%);

  @media screen and (max-width: 1200px) and (min-width: 1024px) {
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 40px 0 rgb(30 55 90 / 10%);
  }

  @media screen and (max-width: 1023px) and (min-width: 679px) {
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 40px 0 rgb(30 55 90 / 10%);
  }

  @media screen and (max-width: 678px) and (min-width: 375px) {
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 40px 0 rgb(30 55 90 / 10%);
  }
}

.transaction-history-title {
  font-family: "Montserrat";
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #1e375a;
  margin-bottom: 30px;
}

.transaction-history-input {
  width: 100%;
  height: 33px;
  border-radius: 10px;
  padding: 5px 10px 5px 40px;
  border: solid 1px #e8ecf3;
  background-color: #ffffff;
  background: url("~/assets/images/search.png") no-repeat 10px 10px;
  font-family: "Montserrat";
  font-size: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.9;
  letter-spacing: normal;
  text-align: left;
  color: #acb1b7;
  margin-bottom: 20px;
  appearance: none;

  &:focus {
    outline: 0;
    outline-offset: 0;
    border: solid 1px #8d75f8;
    color: #1E375A;
    transition: all .3s ease-in-out;
  }
}

.transaction-history-dropdown-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media screen and (max-width: 1200px) and (min-width: 1024px) {
    width: 100%;
  }

  @media screen and (max-width: 1023px) and (min-width: 679px) {
    width: 100%;
  }

  @media screen and (max-width: 678px) and (min-width: 375px) {
    width: 100%;
  }
}

.transaction-history-select {
  width: 240px;
  height: 50px;
  padding: 10px;
  border-radius: 4px;
  border: solid 1px #e8ecf3;
  background-color: #ffffff;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #1e375a;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("~/assets/images/arrow3.png") no-repeat 210px 22px;
  margin-bottom: 41px;

  &:focus {
    outline: 0;
    outline-offset: 0;
    border: solid 1px #8d75f8;
    transition: all .3s ease-in-out;
  }

  @media screen and (max-width: 1023px) and (min-width: 679px) {
    padding: 5px;
    font-size: 12px;
    height: 40px;
    text-align: center;
    margin-right: 7px;
    white-space: pre-wrap;
    margin-bottom: 15px;
  }

  @media screen and (max-width: 678px) and (min-width: 375px) {
    padding: 5px;
    font-size: 8px;
    height: 40px;
    text-align: center;
    margin-right: 7px;
    white-space: pre-wrap;
    margin-bottom: 15px;
  }
}

.transaction-history-filters {
  width: 1044px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 12px;
  margin-bottom: 8px;
  border: 1px solid #ffffff;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #acb1b7;

  span {

    &:nth-child(1) {
      width: 90px;
      text-align: left;

      @media screen and (max-width: 1023px) and (min-width: 679px) {

      }

      @media screen and (max-width: 678px) and (min-width: 375px) {
       width: 51px;
      }
    }

    &:nth-child(2) {
      width: 60px;
      text-align: left;

      @media screen and (max-width: 1023px) and (min-width: 679px) {

      }

      @media screen and (max-width: 678px) and (min-width: 375px) {
        width: 50px;
       }
    }

    &:nth-child(3) {
      width: 146px;
      text-align: left;

      @media screen and (max-width: 1023px) and (min-width: 679px) {
        width: 125px;
      }

      @media screen and (max-width: 678px) and (min-width: 375px) {
        width: 70px;
        margin-right: 5px;
       }
    }

    &:nth-child(4) {
      width: 95px;
      text-align: left;

      @media screen and (max-width: 1023px) and (min-width: 679px) {

      }

      @media screen and (max-width: 678px) and (min-width: 375px) {
        width: 95px;
       }
    }

    &:nth-child(5) {
      width: 134px;
      text-align: left;

      @media screen and (max-width: 1023px) and (min-width: 679px) {

      }

      @media screen and (max-width: 678px) and (min-width: 375px) {
        width: 75px;
       }
    }

    &:nth-child(6) {
      width: 150px;
      text-align: left;

      @media screen and (max-width: 1023px) and (min-width: 679px) {
        width: 50px;
      }

      @media screen and (max-width: 678px) and (min-width: 375px) {
        width: 35px;
       }
    }
  }

  @media screen and (max-width: 1200px) and (min-width: 1024px) {
    width: 100%;

  }

  @media screen and (max-width: 1023px) and (min-width: 679px) {
    width: 100%;

  }

  @media screen and (max-width: 678px) and (min-width: 375px) {
    width: 100%;
    font-size: 9px;
    padding: 5px;
  }
}

.transaction-date-time-container {
  width: 55px;
  display: flex;
  align-items: flex-start;
}

.transaction-history-total {
  width: 134px;

  @media screen and (max-width: 678px) and (min-width: 375px) {
    width: 75px;
  }
}

.transaction-history-status {
  width: 150px;
}

.transaction-history-item-container {

  @media screen and (max-width: 1023px) and (min-width: 679px) {
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
  }

  @media screen and (max-width: 678px) and (min-width: 375px) {
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
  }
}

.transaction-history-item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 1044px;
  height: 60px;
  padding: 12px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.06);
  border: solid 1px #e8ecf3;
  background-color: #ffffff;
  position: relative;
  text-align: center;
  align-items: center;
  margin-bottom: 10px;

  @media screen and (max-width: 1200px) and (min-width: 1024px) {
    width: 100%;
    padding: 5px; 
  }

  @media screen and (max-width: 1023px) and (min-width: 679px) {
    width: 1044px;
    padding: 5px; 
  }

  @media screen and (max-width: 678px) and (min-width: 375px) {
    width: 678px;
    padding: 5px;
  }

}

.transaction-history-details-button {
  position: absolute;
  top: 30%;
  left: 22px;
  cursor: pointer;

  @media screen and (max-width: 678px) and (min-width: 375px) {
    left: 12px;
}

}

.img-up {
  transform: rotate(180deg)
}

.transaction-history-date {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #1e375a;

  
  @media screen and (max-width: 678px) and (min-width: 375px) {
    font-size: 9px;
    width: 51px;
  }

}

.transaction-history-time,
.transaction-history-number {
  width: 60px;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #919aa7;


  @media screen and (max-width: 678px) and (min-width: 375px) {
    font-size: 9px;
    width: 50px;

  }

}

.transaction-history-type {
  width: 146px;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #1e375a;

  @media screen and (max-width: 678px) and (min-width: 375px) {
    font-size: 9px;
    width: 70px;
  }
}

.transaction-history-assets-container {
  width: 95px;
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    margin-right: 10px;
    width: 18px;
    height: 18px;

  }
}



.transaction-history-assets-container_confirmed {
  width: 36px;
  height: 24px;
  margin-left: 50px;
}

.transaction-history-assets-text,
.transaction-history-total {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #1e375a;

  @media screen and (max-width: 678px) and (min-width: 375px) {
    font-size: 9px;
  }
}

.transaction-history-settings {
  position: absolute;
  top: 32%;
  right: 30px;

  @media screen and (max-width: 678px) and (min-width: 375px) {
    top: 35%;
    right: 10px;
  }

  img {
    @media screen and (max-width: 678px) and (min-width: 375px) {
      height: 15px;
    }

  }

}

.transaction-history-status_paid {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #8d75f8;

  @media screen and (max-width: 678px) and (min-width: 375px) {
    font-size: 9px;
    white-space: pre-wrap;
    width: 50px;
  }
}

.transaction-history-status_waiting {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #75daf8;

  @media screen and (max-width: 678px) and (min-width: 375px) {
    font-size: 9px;
    white-space: pre-wrap;
    width: 50px;
  }
}

.transaction-history-status_canceled {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #8d75f8;

  @media screen and (max-width: 678px) and (min-width: 375px) {
    font-size: 9px;
    white-space: pre-wrap;
    width: 50px;
  }
}

.transaction-history-status_confirmed {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #e1dd6a;

  @media screen and (max-width: 678px) and (min-width: 375px) {
    font-size: 9px;
    white-space: pre-wrap;
    width: 50px;
  }
}

.transaction-history-status_paid-status,
.transaction-history-status_daily-payment {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #6ae181;

  @media screen and (max-width: 678px) and (min-width: 375px) {
    font-size: 9px;
    white-space: pre-wrap;
    width: 50px;
  }
}

.transaction-history-more-details-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  width: 1044px;
  height: 58px;
  padding: 10px;
  border-radius: 5px;
  border: solid 1px #e8ecf3;
  background-color: #fcfcfc;
  margin-bottom: 20px;

  @media screen and (max-width: 678px) and (min-width: 375px) {
   flex-direction: column;
   width: 100%;
   height: 80px;
   align-items: flex-start;
  }

}

.transaction-history-more-details-transaction {
  display: flex;
  flex-direction: row;
  font-family: "Montserrat";
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #1e375a;
  margin-left: 25px;
  text-align: center;

  @media screen and (max-width: 678px) and (min-width: 375px) {
    margin-left: 0;
    width: 100%;
    justify-content: space-between;
    font-size: 10px;
   }

}

.carried-out {
  font-family: "Montserrat";
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.62;
  letter-spacing: normal;
  text-align: left;
  color: #70abff;
  margin-left: 10px;
  margin-right: 50px;
  text-decoration: none;

  @media screen and (max-width: 678px) and (min-width: 375px) {
    margin-right: 0;
    font-size: 10px;
   }
}

.transaction-history-more-details-hash {
  display: flex;
  flex-direction: row;
  font-family: "Montserrat";
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #1e375a;

  @media screen and (max-width: 678px) and (min-width: 375px) {
    margin-left: 0;
    width: 100%;
    justify-content: space-between;
    margin-top: 5px;
    font-size: 10px;
   }
}

.tracking {
  font-family: "Montserrat";
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.62;
  letter-spacing: normal;
  text-align: left;
  color: #acb1b7;
  text-decoration: underline;
  margin-left: 10px;
  margin-right: 50px;

  @media screen and (max-width: 678px) and (min-width: 375px) {
    margin-right: 28px;
    margin-left: 0;
    font-size: 10px;
   }
}

.transaction-history-more-details-time-title {
  display: flex;
  flex-direction: row;
  font-family: "Montserrat";
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #1e375a;

  @media screen and (max-width: 678px) and (min-width: 375px) {
    margin-left: 0;
    width: 100%;
    justify-content: space-between;
    white-space: pre-wrap;
    margin-top: 5px;
    height: 35px;
    font-size: 10px;
   }

}

.transaction-history-more-details-time {
  font-family: "Montserrat";
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1e375a;
  margin-left: 10px;

  @media screen and (max-width: 678px) and (min-width: 375px) {
    white-space: nowrap;
    margin-right: 5px;
    font-size: 10px;
   }
}
