.increase-in-deposit {
    width: 70%;
    margin: 0 auto;

    @media #{$phone} {
        width: 90%;
    }
}

.increase-in-deposit-container {
    width: 540px;
    padding: 36px;
    border-radius: 15px;
    background-color: #ffffff;

    @media #{$phone} {
        width: 100%;
        padding: 0;
    }
}

.increase-in-deposit-title {
    font-family: "Montserrat";
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #1e375a;
    margin-bottom: 37px;
    margin-top: 27px;

    @media #{$phone} {
        margin-bottom: 0;
        text-align: center;
        
    }
}



.increase-in-deposit-table-title {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #1e375a;
    border-bottom: none;
    padding-right: 25px;
    padding-bottom: 15px;

    @media #{$phone} {
        font-size: 14px;
      }
}

.increase-in-deposit-table-increase {
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.62;
    letter-spacing: normal;
    text-align: left;
    color: #38ca89;
    border-bottom: none;
    padding-right: 10px;
    padding-bottom: 15px;

    @media #{$phone} {
        text-align: center;
      }

}

.increase-in-deposit-table-current {
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.62;
    letter-spacing: normal;
    text-align: left;
    color: #b3c5df;
    border-bottom: none;
    padding-bottom: 15px;
    padding-left: 14px;
}

.increase-in-deposit-table-subtitle {
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.62;
    letter-spacing: normal;
    text-align: left;
    color: #1e375a;
    padding-top: 10px;
    padding-bottom: 5px;
}



.increase-in-deposit-table-increase-sum {
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.62;
    letter-spacing: normal;
    text-align: left;
    color: #38ca89;
    text-align: center;
}

.increase-in-deposit-table {
    @media #{$phone} {
        width: 100%;
        padding: 0 20px;
    }
}

.increase-in-deposit-table-current-sum {
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.62;
    letter-spacing: normal;
    text-align: left;
    color: #b3c5df;
    padding-left: 15px;
}

.increase-in-deposit-table tr {
    border-bottom: 1px solid #e8ecf3;
}

.table {
    border-collapse: collapse;
}

.methods-subtitle {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #1e375a;
    margin-bottom: 22px;
}

.increase-in-deposit-button {
    width: 460px;
    height: 61px;
    border-radius: 10px;
    background: rgb(103, 104, 244);
    background: linear-gradient(90deg, rgba(103, 104, 244, 1) 32%, rgba(179, 131, 253, 1) 70%);
    border: none;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 25px;
    transition: 0.7s ease-in-out;

    @media #{$phone} {
        width: 90%;
        margin: 25px 25px 25px;
    }
}

.increase-in-deposit-button:hover {
    cursor: pointer;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid #8d75f8;
}

.replenishment-sum-title {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #1e375a;
    margin-bottom: 13px;
}
.transfer-cont {
    align-items: center;
    display: flex;
}
