.loanscreen {
    margin-top: 44px;
}

.page {
    width: 100%;
    height: 1080px;
    max-width: 100%;
    background-image: url("~/assets/images/Web 1920 – 1.png");
}

.loanscreen-content-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.loanScreen-container {
    width: 255px;
    height: 330px;
    border-radius: 15px;
    background-color: #ffffff;
    margin-right: 30px;
}

.available-loan-amount {
    width: 255px;
    padding: 24px;
    border-bottom: 1px solid #e8ecf3;
}

.available-loan-amount-title {
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #1e375a;
    margin-bottom: 25px;
}

.available-credit-title {
    display: block;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #1e375a;
    margin-bottom: 14px;
}

.available-credit-total {
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.93;
    letter-spacing: normal;
    text-align: left;
    color: #38ca89;
}

.taken-credit-container {
    width: 255px;
    display: flex;
    flex-direction: column;
    height: 145px;
    padding: 24px;
}

.taken-credit-title {
    display: block;
    margin-bottom: 14px;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #1e375a;
}

.taken-credit-total {
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.93;
    letter-spacing: normal;
    text-align: left;
    color: #b3c5df;
}

.withdrawal-of-funds-container {
    width: 350px;
    height: 330px;
    padding: 36px 32px;
    border-radius: 15px;
    box-shadow: 0 0 40px 0 rgba(30, 55, 90, 0.1);
    background-color: #ffffff;
    margin-right: 30px;
}

.withdrawal-of-funds-title {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #1e375a;
    margin-bottom: 16px;
}

.withdrawal-of-funds-button {
    width: 287px;
    height: 60px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(30, 55, 90, 0.17);
    background-color: #ffffff;
    margin-bottom: 24px;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #1e375a;
    display: flex;
    flex-direction: row;
    border: 1px solid #ffffff;
    &:hover {
        border: 1px solid #8d75f8;
        cursor: pointer;
    }
}

.withdrawal-of-funds-button-img {
    width: 16px;
    height: 16px;
    margin-left: 20px;
    margin-top: 15px;
}

.withdrawal-of-funds-button-text {
    display: flex;
    padding-left: 30px;
    margin-left: 30px;
    border-left: 1px solid #e8ecf3;
    height: 45px;
    align-items: center;
}

.affiliate-program-container {
    width: 446px;
    height: 330px;
    border-radius: 15px;
    box-shadow: 0 0 40px 0 rgba(30, 55, 90, 0.1);
    background-color: #ffffff;
    position: relative;
}

.repayment-of-credit-title {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #1e375a;
    margin-bottom: 16px;
}

.repayment-of-credit-title-information {
    position: absolute;
    margin-left: 5px;
}

.repayment-of-credit-button {
    width: 287px;
    height: 60px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(30, 55, 90, 0.16);
    background-color: #ffffff;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #1e375a;
    display: flex;
    flex-direction: row;
    border: 1px solid #ffffff;
    &:hover {
        border: 1px solid #8d75f8;
        cursor: pointer;
    }
}

.repayment-of-credit-button-img {
    width: 16px;
    height: 16px;
    margin-left: 20px;
    margin-top: 15px;
}

.repayment-of-credit-button-text {
    display: flex;
    padding-left: 30px;
    margin-left: 30px;
    border-left: 1px solid #e8ecf3;
    height: 45px;
    align-items: center;
    text-decoration: none;
}

.affiliate-program-container {
    width: 446px;
    height: 330px;
    padding: 36px;
    border-radius: 15px;
    box-shadow: 0 0 40px 0 rgba(30, 55, 90, 0.1);
    background-color: #ffffff;
}

.affiliate-program-title {
    width: 163px;
    height: 52px;
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #1e375a;
    margin-bottom: 25px;
}

.affiliate-program-text {
    display: block;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #1e375a;
    margin-bottom: 19px;
}

.affiliate-program-input {
    width: 382px;
    height: 60px;
    padding: 19px;
    border-radius: 10px;
    border: solid 1px #e8ecf3;
    background-color: #ffffff;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1e375a;
    margin-bottom: 19px;
    &:focus {
        outline: 0;
        outline-offset: 0;
        border: solid 1px #8d75f8;
    }
}

.copy {
    content: "123";
    position: absolute;
    display: block;
    top: 155px;
    width: 50px;
    left: 360px;
    height: 50px;
    background: url("~/assets/images/copy (1).png") no-repeat 15px 15px;
    cursor: pointer;
}

.affiliate-program-button {
    width: 382px;
    height: 60px;
    padding: 21px;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(30, 55, 90, 0.16);
    background-color: #ffffff;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    color: #1e375a;
    border: none;
    &:hover {
        border: 1px solid #8d75f8;
        cursor: pointer;
    }
    &:focus {
        background: rgb(103, 104, 244);
        background: linear-gradient(90deg, rgba(103, 104, 244, 1) 32%, rgba(179, 131, 253, 1) 70%);
        color: #ffffff;
    }
}

.deposit-container {
    width: 255px;
    height: 574px;
    padding: 60px 30px 31px 33px;
    border-radius: 15px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deposit-score-container {
    margin-bottom: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.score-item-green {
    width: 39px;
    height: 6px;
    background-color: #8de8c0;
}

.score-item-blue {
    width: 45px;
    height: 6px;
    background-color: #8dd9e8;
}

.score-item-red {
    width: 90px;
    height: 6px;
    background-color: #e88d8d;
}

.deposit-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    color: #1e375a;
    text-align: center;
    margin-bottom: 15px;
}

.deposit-total {
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.7;
    letter-spacing: normal;
    text-align: center;
    color: #1e375a;
    margin-bottom: 40px;
}

.deposit-earned {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: center;
    color: #1e375a;
}

.deposit-erned-total {
    font-family: "Montserrat";
    font-size: 25px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.84;
    letter-spacing: normal;
    text-align: left;
    color: #b1bbc9;
    margin-top: 13px;
    margin-bottom: 30px;
}

.deposit-actual {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: center;
    color: #1e375a;
}

.deposit-top-up-balance-button {
    width: 164px;
    height: 40px;
    border: none;
    background: rgb(103, 104, 244);
    background: linear-gradient(90deg, rgba(103, 104, 244, 1) 32%, rgba(179, 131, 253, 1) 70%);
    border-radius: 10px;
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-bottom: 14px;
}

.deposit-top-up-balance-button:hover {
    cursor: pointer;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

.deposit-transfer-balance-button {
    width: 164px;
    height: 52px;
    border-radius: 10px;
    border: none;
    background: rgb(103, 104, 244);
    background: linear-gradient(90deg, rgba(103, 104, 244, 1) 32%, rgba(179, 131, 253, 1) 70%);
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-bottom: 14px;
    &:hover {
        cursor: pointer;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
    }
}

.assets-container {
    width: 825px;
    height: 574px;
    padding: 36px;
    border-radius: 15px;
    box-shadow: 0 0 40px 0 rgba(30, 55, 90, 0.1);
    background-color: #ffffff;
    margin-right: 30px;
}

.assets-title {
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #1e375a;
    margin-bottom: 33px;
}

.assets-table-titles-container {
    position: relative;
    width: 760px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #1e375a;
    margin-bottom: 21px;
    span {
        &:nth-child(1) {
            width: 143px;
        }
        &:nth-child(2) {
            width: 135px;
        }
        &:nth-child(3),
        &:nth-child(4) {
            width: 86px;
            position: relative;
        }
        &:nth-child(5) {
            width: 91px;
        }
    }
}

.assets-table-title-information-img {
    position: absolute;
    top: 0px;
    right: -10px;
}

.info-link {
  cursor: pointer;
}

.assets-table-title-information-credit-img {
    position: absolute;
    top: 0px;
    right: -21px;
}

.assets-table-title-information-asset-img {
    position: absolute;
    top: 0px;
    right: 14px;
}

.assets-table-item-current-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 143px;
    img {
        margin-right: 14px;
    }
    span {
        font-family: "Montserrat";
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #1e375a;
    }
}

.assets-table-item-total {
    width: 135px;
}

.assets-table-item-sum {
    width: 86px;
}

.assets-table-item-button {
    width: 90px;
    height: 28px;
    border-radius: 5px;
    border: solid 1px #e8ecf3;
    background-color: #ffffff;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #1e375a;
}

.assets-table-item-button:hover {
    outline: 0;
    outline-offset: 0;
    border: solid 1px #8d75f8;
    cursor: pointer;
}

.assets-table-item-container {
    width: 760px;
    height: 56px;
    padding: 14px 0;
    border-radius: 10px;
    border: solid 1px #e8ecf3;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    margin-bottom: 20px;
}

.assets-table-item-score {
    width: 170px;
    height: 3px;
    border-radius: 2px;
    background-color: #e88d8d;
    position: absolute;
    left: 50px;
    bottom: 0px;
    border-radius: 2px;
}

.assets-table-item-total {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #1e375a;
}

.assets-table-item-sum {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #1e375a;
}

.assets-table-item-score_blue {
    background-color: #8dd9e8;
    width: 131px;
    border-radius: 2px;
}

.assets-table-item-score_green {
    width: 80px;
    height: 3px;
    border-radius: 2px;
    background-color: #8de8c0;
}

.assets-table-item-current-inactive {
    width: 24px;
    height: 24px;
    border: solid 1px #e8ecf3;
    border-radius: 50%;
    margin-right: 14px;
}

.assets-table-item-current-container_inactive span,
.assets-table-item-total_inactive,
.assets-table-item-sum_inactive {
    color: #e8ecf3;
}