.transfer-of-assets {
    width: 70%;
    margin: 0 auto;

    @media screen and (max-width: 678px) and (min-width: 375px) {
        width: 100%;
        padding: 20px;
    }
}
.transfer-of-assets-title {
    font-family: "Montserrat";
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #1e375a;
    margin-top: 53px;
    margin-bottom: 37px;

    @media screen and (max-width: 678px) and (min-width: 375px) {
        width: 100%;
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

}

.transfer-of-assets-subtitle {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #1e375a;
    margin-bottom: 25px;

    @media screen and (max-width: 678px) and (min-width: 375px) {
        margin-left: 20px;
        margin-bottom: 20px;
    }
}
.transfer-of-assets-button {
    width: 380px;
    height: 61px;
    border-radius: 10px;
    border: solid 1px #8d75f8;
    background-color: rgba(0, 0, 0, 0);
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: center;
    color: #8d75f8;

    @media screen and (max-width: 678px) and (min-width: 375px) {
        width: 100%;
        margin-top: 20px;
    }
}

.transfer-of-assets-button:hover {
    background: rgb(103, 104, 244);
    background: linear-gradient(90deg, rgba(103, 104, 244, 1) 32%, rgba(179, 131, 253, 1) 70%);
    color: #ffffff;
    transition: 0.7s 0s ease-in-out !important;
    cursor: pointer;
}

